body {
    background-image: url("https://t4.ftcdn.net/jpg/02/88/89/67/360_F_288896713_HGNUyu8j7LxU99mTwaUfEdP9T9ktQYEX.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    height: 300px;
    width: 80%;
    background-attachment: fixed;
    background-size: cover;
}

h1 {
    color: rgb(0, 0, 0)
}

.Site-Root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 5px;
}

.Perfil {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

a {
    color: whitesmoke;
    background-color: #5448c8;
    width: 100%;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    border: solid 2px #272635;
    gap: 20px;
}